* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: #fff8dc;
    width: 100%;
    font-family: 'Roboto Condensed', sans-serif;
}
.search-container {
    width: 900px;
    margin: 1% auto;
    background-color: #108874;
    padding: 10px 50px;
    border-radius: 3px;
}
.search-container label {
    font-weight: bold;
    color:  #eeeeee;
    font-size: 1.5em;
    letter-spacing: 2px;
}
.search-container input {
    font-size: 20px;
    border-radius: 5px;
    color: #1d1818;
    outline-style: none;
    text-align: left;
    width: 50%;
}
.search-container label, input {
    margin: 12px;
    text-align: center;
    align-items: center;
}
.search-container h1 {
    text-align: center;
    font-size: 2em;
    color:  #eeeeee;
    letter-spacing: 2px;
}
.movies-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 900px;
    border-radius: 3px;
    margin: auto;
    background-color: #f7eee1;
    padding: 15px 25px;
}
.movieImg {
    width: 250px; 
    height: 290px;
    background-size: cover;
}
.movie-container {
    -webkit-box-shadow: 2px 4px 17px 7px #6cd698; 
    box-shadow: 2px 4px 17px 7px #8ef0d7;
    margin: 10px;
    background-color: #ffff;
}
.movie-container:hover {
    border: 5px solid #f83d04;
    border-radius: 3px;
    transition: all ease-in 0.2s;
}
.movieRating {
    text-align: center;
    font-size: 1em;
    font-weight: bolder;
    margin: 5px;
    color: #055046;
}
.movieTitle {
    font-size: 1em;
    font-weight: bold;
    margin: 5px;
}
.movieYear {
    text-align: center;
    font-size: 1em;
    margin: 5px;
    color: #055046;
    font-weight: 600;
}
/*The details.png was downloaded from https://icons8.com/icons/set/info*/
.detailsIcon {
    position: relative;
    float: right;
    margin-bottom: 5px;
    margin-right: 10px;
    width: 38px;
    height: 38px;
    border-radius: 50%; 
    background: #f9f8f6;
    background-position: center;
}
.detailsIcon:hover {
    background: #f0a6c8;
    color: white;
}
.defaultImg {
    width: 250px; 
    height: 290px;
    background-size: cover;
    background-color: #032e29;
}

 ul li {
    display: inline;
    flex-wrap: wrap;
    margin-left: 10px;   
}

.pagesList {
    text-align: center;
    font-size: 1.3em;
    font-weight: bold;
    margin-bottom: 10px;
}
.pagesList a {
    color:  #108874;
    text-decoration: none;
}

.pagesList a:hover {
    color: #032e29;
    text-decoration: underline;
}
.infoContainer {
    display: flex;
    flex-wrap: wrap;
    margin-left: auto;
    margin-right: auto;
}
.infoImage {
    margin-left: auto;
    margin-right: auto;
    margin-top: 1%;
    border-radius: 10px;
}
.detailsContainer p {
    font-size: 1.2em;
    margin-top: 5px;
    text-align: center;
    color: #055046;
    font-weight: bolder;
}
.detailsContainer .movieOverview {
    margin: 10px;
    color: #108874;
    font-weight: 500;
    font-size: 1em;
}
.backLink {
    font-size: 1em;
    color: #032e29;
    text-decoration: underline;
    cursor: pointer;
    margin-left: 15px;
    margin-right: 25px;
    margin-top: 20px;
}
.backLink:hover {
    color: #f83d04;
}
@media (max-width: 650px) {
.search-container {
    width: 100%;
    }
.movies-container {
    width: 100%;
}

.search-container label {
    font-size: 1em; 
    margin: 5px; 
}
.search-container input {
    width: 65%;
    margin: 2px;
    font-size: 1em;
    font-weight: 300;
}
.search-container h1 {
    font-size: 1.2em;
}
}